%div
  %table.table.table-bordered.table-striped.table-hover.table-condensed
    %caption Stock by product -- Sun 05:00 12 Aug 2012 - Mon 05: 13 Aug 2012
    %thead
      %tr
        %th Product
        %th Category
        %th Items Qty
        %th Gross Sales
        %th VAT
        %th Net Sales
    %tbody
      %tr
        %td Product one
        %td Category one
        %td.right 1174
        %td.right € 2,053.81
        %td.right € 169.98
        %td.right € 1,884.23
      %tr
        %td Product one
        %td Category one
        %td.right 1174
        %td.right € 2,053.81
        %td.right € 169.98
        %td.right € 1,884.23
      %tr
        %td Product one
        %td Category one
        %td.right 1174
        %td.right € 2,053.81
        %td.right € 169.98
        %td.right € 1,884.23
      %tr
        %td Product one
        %td Category one
        %td.right 1174
        %td.right € 2,053.81
        %td.right € 169.98
        %td.right € 1,884.23
      %tr
        %td Product one
        %td Category one
        %td.right 1174
        %td.right € 2,053.81
        %td.right € 169.98
        %td.right € 1,884.23
      %tr
        %td Product one
        %td Category one
        %td.right 1174
        %td.right € 2,053.81
        %td.right € 169.98
        %td.right € 1,884.23
      %tr
        %td Product one
        %td Category one
        %td.right 1174
        %td.right € 2,053.81
        %td.right € 169.98
        %td.right € 1,884.23
      %tr
        %td Product one
        %td Category one
        %td.right 1174
        %td.right € 2,053.81
        %td.right € 169.98
        %td.right € 1,884.23


