%div.tabbable
  %ul#mainTab.nav.nav-tabs
    =main_tab_menu_li("MAIN PAGE", "tab1")
    =main_tab_menu_li("REPORTS", "tab2")
    =main_tab_menu_li("PRODUCTS", "tab3")
    =main_tab_menu_li("CUSTOMERS", "tab4")
  %div.tab-content
    =sub_pane_menu_generator("tab1", ["Products", "Dashboard", "menu 3", "menu 4", "menu 5"])
    =sub_pane_menu_generator("tab2", ["menu 6", "menu 7", "menu 8", "menu 9", "menu 10"])
    =sub_pane_menu_generator("tab3", ["menu 11", "menu 12", "menu 13", "menu 14", "menu 15"])
    =sub_pane_menu_generator("tab4", ["menu 16", "menu 17", "menu 18", "menu 19", "menu 20"])
=render "form"
=render "table"
