=semantic_form_for @user do |f|
  =f.inputs do
    =f.input :name, label: 'Name:'
    =f.input :email, label: 'Email:'
  =f.semantic_fields_for :kid do |kid|
    =kid.inputs :name, :age, name: 'Kids'
  =f.semantic_fields_for :order do |order|
    =order.inputs :date, name: 'Orders'
  =f.actions