.container
  %h1 Departments
  .well{style: 'height: 50px'}
    .pull-left Create a new department or edit your list
    %a.pull-right.btn.btn-success.btn-large{data: {toggle: 'modal'}, href: '#formModal'} New Department
  %table.table.table-bordered#departments
    %tr
      %th Name
      %th Edit
      %th Delete
    =render @departments
  =render 'form'