%div.well
  %div.row
    %div.span3.offset3
      =link_to "TEMPLATE", templates_path, class: "btn btn-large btn-warning btn-left middle"
    %div.span3
      =link_to "TEMPLATE ADMIN", admin_path, class: "btn btn-large btn-info btn-left btn-right middle"
    %div.offset3
  .row
    .span3.offset3
      =link_to "PRODUCTS", products_path, class: "btn btn-large btn-success btn-left middle"
    .span3
    .offset3