.well
  .row
    .span3
      =link_to "TEMPLATE", templates_path, class: "btn btn-large btn-warning btn-left middle"
    .span3
      =link_to "PRODUCTS", products_path, class: "btn btn-large btn-success btn-left middle"
    .span3
      =link_to "DEPARTMENTS", departments_path, class: 'btn btn-large btn-info btn-left middle'