.hero.well
  %h1 Sandbox System
  Nothing else just sandboxing
.well
  .row
    .span3
      %h3 Mockups:
    .span3
      =link_to "Check a static admin template", templates_path, class: "btn btn-large btn-warning"
    .span3
      =link_to "A static product page view", products_path, class: "btn btn-large btn-success"
  .row
    .span3
      %h3 Dynamic staffs:
    .span3
      =link_to "Category management with nested model", categories_path, class: 'btn btn-large btn-danger'
    .span3
      =link_to "Dynamic page for Departments model", departments_path, class: 'btn btn-large btn-info'
  .row
    .span3
      %h3 Polymorphic models and forms
    .span3
      =link_to "Manage meals model", meals_path, class: 'btn btn-large btn-warning'
      =link_to "Manage kids model", kids_path, class: 'btn btn-large'
      =link_to "Manage users model", users_path, class: 'btn btn-large'
    .span3
      =link_to "Manage orders with nested form", orders_path, class: 'btn btn-large btn-success'
