.well
  .row
    .span2
      =link_to "FIRST TEMPLATE", templates_path, class: "btn btn-large btn-warning btn-left middle"
    .span2
      =link_to "PRODUCTS", products_path, class: "btn btn-large btn-success btn-left middle"
    .span2
      =link_to "DEPARTMENTS", departments_path, class: 'btn btn-large'