.well
  .row
    .span3
      =link_to "Check a static admin template", templates_path, class: "btn btn-large btn-warning btn-left"
    .span3
      =link_to "A static product page view", products_path, class: "btn btn-large btn-success btn-left middle"
    .span3
      =link_to "Dynamic page for Departments model", departments_path, class: 'btn btn-large btn-info btn-left middle'