%div.well
  %div.row
    %div.span3.offset3
      =link_to "TEMPLATE", templates_path, class: "btn btn-large btn-warning btn-left middle"
    %div.span3
      =link_to "TEMPLATE ADMIN", admin_templates_path, class: "btn btn-large btn-info btn-left btn-right middle"
    %div.offset3

