%h1 Listing meals

%table
  %tr
    %th
    %th
    %th

  - @meals.each do |meal|
    %tr
      %td= link_to 'Show', meal
      %td= link_to 'Edit', edit_meal_path(meal)
      %td= link_to 'Destroy', meal, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Meal', new_meal_path
