%ul.nav
  %li=link_to 'HOME', root_path
  %li.active=link_to 'Products', products_path
  %li=link_to 'Menus', products_path
  %li=link_to 'Customers', products_path
  %li=link_to 'Suppliers', products_path
  %li=link_to 'Employees', products_path
  %li=link_to 'Reports', products_path
  %li=link_to 'Marketing', products_path
  %li=link_to 'Departments', departments_path
  %li=link_to 'Settings', products_path