.container
  %h1 Category management
  .well{style: 'height: 50px'}
    .pull-left Manage your category list or create a new one.
    %a.pull-right.btn.btn-success.btn-large{data: {toggle: 'modal'}, href: '#formModal'} New Category
  %table.table.table-bordered#categories
    %tr
      %th Parent Category (click on it to change)
      %th Name
      %th Edit
      %th Delete
    =render @categories
  =render 'form'