%section.container.main
  .row
    =semantic_form_for :query, method: :get, namespace: 'first', html: {class: 'form-inline'} do |f|
      -#=f.semantic_errors :flash
      .span5
        =f.input :department, as: :select, collection: @departments, label: 'Outlet'
      .span2
        =f.action :submit, as: :button, label: 'Add new product'
      .span4.offset1
        .btn-group{'data-toggle' => 'buttons-radio'}
          %button.btn{type: 'button'} All products
          %button.btn{type: 'button'} Specials
          %button.btn{type: 'button'} Delete
  .row
    .span2
      All Categories
      %ul.nav.nav-tabs.nav-stacked
        %li.active
          %a Drinks Dept.
        %li Bottled Beer
        %li Draught
        %li Cocktails
        %li Spirits
        %li Soft Drinks
    .span2
      Products
    .span8
      General
      Pricing & Taxes
      Modfiers